<nb-card>
  <nb-card-header class="custom-header">
    <nb-icon icon="credit-card-outline"></nb-icon>
    <span>Ledger Management</span>
  </nb-card-header>

  <nb-card-body>
    <div class="row mb-4">
      <!-- Filter Section -->
      <div class="col-12">
        <div class="filter-section card shadow-sm border-0">
          <div class="card-header p-3">
            <h4 class="mb-0 d-flex align-items-center">
              <nb-icon icon="options-2-outline" class="me-2 mr-3"></nb-icon> Filters
            </h4>
          </div>
          <div class="card-body">
            <div class="row align-items-end">

              <!-- Asset Select -->
              <div class="col-md-3 col-sm-12 mb-3">
                <label for="AssetSelect" class="fw-bold text-muted d-flex align-items-center">
                  <nb-icon icon="search-outline" class="me-2 mr-2"></nb-icon> Search by Payment Direction
                </label>
                <select id="AssetSelect" class="form-control" [(ngModel)]="paymentDirection">
                  <option [ngValue]="null" disabled selected>Select Payment Direction</option>
                  <option *ngFor="let item of paymentDirections" [ngValue]="item?.key">{{ item.label }}</option>
                </select>
              </div>

              <div class="col-md-3 col-sm-12 mb-3">
                <label for="ProjectSelect" class="fw-bold text-muted d-flex align-items-center">
                  <nb-icon icon="search-outline" class="me-2 mr-2"></nb-icon> Search by Payment Method
                </label>
                <select id="ProjectSelect" class="form-control" [(ngModel)]="paymentMethod">
                  <option [ngValue]="null" disabled selected>Select Payment Method</option>
                  <option *ngFor="let item of paymentMethods" [ngValue]="item?.key">{{ item?.label }}</option>
                </select>
              </div>

              <div class="col-md-3 col-sm-12 mb-3">
                <label for="CategorySelect" class="fw-bold text-muted d-flex align-items-center">
                  <nb-icon icon="search-outline" class="me-2 mr-2"></nb-icon> Search by Payment Type
                </label>
                <select id="CategorySelect" class="form-control" [(ngModel)]="paymentType">
                  <option [ngValue]="null" disabled selected>Select Payment Type</option>
                  <option *ngFor="let item of paymentTypes" [ngValue]="item?.key">{{ item?.label }}</option>
                </select>
              </div>

              <div class="col-md-3 col-sm-12 mb-3">
                <label for="paidToType" class="fw-bold text-muted d-flex align-items-center">
                  <nb-icon icon="search-outline" class="me-2 mr-2"></nb-icon> Search by Paid Type
                </label>
                <select id="paidToType" class="form-control" [(ngModel)]="selectedPaidToTypes">
                  <option [ngValue]="null" disabled selected>Select Paid Type</option>
                  <option *ngFor="let item of paidToTypes" [ngValue]="item?.key">{{ item?.label }}</option>
                </select>
              </div>

              <div class="col-md-3 col-sm-12 mb-3">
                <label for="dateRangePicker" class="fw-bold text-muted d-flex align-items-center">
                  <nb-icon icon="calendar-outline" class="me-2 mr-2"></nb-icon> Select Date Range
                </label>
                <input nbInput placeholder="Select Date Range" class="form-control date-picker"
                  [nbDatepicker]="rangepicker" [(ngModel)]="selectedDateRange">
                <nb-rangepicker #rangepicker></nb-rangepicker>
              </div>


              <!-- Get All Invoices Button -->
              <div class="col-md-3 col-sm-12 mb-3 text-center">
                <button nbButton status="primary" class="w-100 fw-bold" (click)="toggleDetails()"
                  [disabled]="!(paymentType || paymentMethod || paymentDirection || selectedDateRange)">
                  <nb-icon icon="file-outline" class="me-2"></nb-icon> Get Expenses
                </button>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <nb-accordion>

      <nb-accordion-item [expanded]="true">
        <nb-accordion-item-header>
          <i class="fas fa-chart-line text-primary me-2" style="margin-right: 8px;"></i>
          Dashboard Overview
        </nb-accordion-item-header>
      
        <nb-accordion-item-body>
          <div class="container mt-4 mb-4">
            <div class="row g-4">
      
              <!-- Income -->
              <div class="col-md-4">
                <nb-card status="success" accent="success">
                  <nb-card-header>
                    <i class="fas fa-coins me-2"></i> Income
                  </nb-card-header>
                  <nb-card-body class="text-success fw-bold fs-5">
                    {{ getLedgersList?.totalIncome || 0 }} SAR
                  </nb-card-body>
                </nb-card>
              </div>
      
              <!-- Projected Profit -->
              <div class="col-md-4">
                <nb-card status="info" accent="info">
                  <nb-card-header>
                    <i class="fas fa-chart-pie me-2"></i> Projected Profit
                  </nb-card-header>
                  <nb-card-body class="text-info fw-bold fs-5">
                    {{ getLedgersList?.projectedProfit || 0 }} SAR
                  </nb-card-body>
                </nb-card>
              </div>
      
              <!-- Actual Profit -->
              <div class="col-md-4">
                <nb-card status="success" accent="success">
                  <nb-card-header>
                    <i class="fas fa-wallet me-2"></i> Actual Profit
                  </nb-card-header>
                  <nb-card-body class="text-success fw-bold fs-5">
                    {{ getLedgersList?.profit || 0 }} SAR
                  </nb-card-body>
                </nb-card>
              </div>
      
              <!-- Paid To Sponsor -->
              <div class="col-md-4">
                <nb-card status="danger" accent="danger">
                  <nb-card-header>
                    <i class="fas fa-hand-holding-usd me-2"></i> Paid To Sponsor
                  </nb-card-header>
                  <nb-card-body class="text-danger fw-bold fs-5">
                    {{ getLedgersList?.totalPaidToSponsors || 0 }} SAR
                  </nb-card-body>
                </nb-card>
              </div>
      
              <!-- Paid To Asset -->
              <div class="col-md-4">
                <nb-card status="danger" accent="danger">
                  <nb-card-header>
                    <i class="fas fa-landmark me-2"></i> Paid To Asset
                  </nb-card-header>
                  <nb-card-body class="text-danger fw-bold fs-5">
                    {{ getLedgersList?.totalPaidToAssets || 0 }} SAR
                  </nb-card-body>
                </nb-card>
              </div>
      
              <!-- Total Expense -->
              <div class="col-md-4">
                <nb-card status="warning" accent="warning">
                  <nb-card-header>
                    <i class="fas fa-receipt me-2"></i> Total Expense
                  </nb-card-header>
                  <nb-card-body class="text-warning fw-bold fs-5">
                    {{ getLedgersList?.totalExpense || 0 }} SAR
                  </nb-card-body>
                </nb-card>
              </div>
      
              <!-- Company Expense -->
              <div class="col-md-4">
                <nb-card status="warning" accent="warning">
                  <nb-card-header>
                    <i class="fas fa-building me-2"></i> Other Expense
                  </nb-card-header>
                  <nb-card-body class="text-warning fw-bold fs-5">
                    {{ getLedgersList?.totalCompanyExpenses || 0 }} SAR
                  </nb-card-body>
                </nb-card>
              </div>
      
              <!-- Asset Expense -->
              <div class="col-md-4">
                <nb-card status="warning" accent="warning">
                  <nb-card-header>
                    <i class="fas fa-cogs me-2"></i> Asset Expense
                  </nb-card-header>
                  <nb-card-body class="text-warning fw-bold fs-5">
                    {{ getLedgersList?.totalAssetExpenses || 0 }} SAR
                  </nb-card-body>
                </nb-card>
              </div>
      
            </div>
          </div>
        </nb-accordion-item-body>
      </nb-accordion-item>
      
      
      


      <!-- Payment History -->
      <nb-accordion-item [expanded]="true">
        <nb-accordion-item-header>
          <i class="fas fa-history text-primary me-2" style="margin-right: 8px;"></i>
          Payment History
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <ng2-smart-table [settings]="historyTableSettings" [source]="historyTableData"
            class="rounded shadow-sm table-responsive">
          </ng2-smart-table>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>