<nb-card>
  <nb-card-header class="text-muted small px-3 py-2 bg-light border-bottom">
    🛒 اختر الصنف / Select Product
  </nb-card-header>

  <nb-card-body class="p-3">
  <div *ngIf="isSelectedShop">
      <input
      type="text"
      class="form-control form-control-sm mb-3 border-secondary text-muted"
      placeholder="🔍 Search by product name"
      [(ngModel)]="searchTerm"
      (input)="filterTable()" />

    <div class="table-responsive">
      <table class="table table-sm table-bordered table-hover text-muted border">
        <thead class="table-secondary small">
          <tr>
            <th class="align-middle text-center">✓</th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Shop</th>
            <th *ngIf="!isSale">Buy Price</th>
            <th>Retail Price</th>
            <th>Min Price</th>
            <th>Quantity</th>
             <th>Discount</th>
              <th>Tax</th>
              <th>Stock QTY</th>
            <th>Storage Rack</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredList" (click)="handleRowClick($event, item)" [class.table-danger]="item.product?.stockQty === 0">
            <td class="text-center align-middle">
              <input
                type="checkbox"
                [(ngModel)]="item.selected"
                [disabled]="item.product?.stockQty === 0"
                (click)="$event.stopPropagation()"
                (change)="onCheckboxChange(item)" />
            </td>
            <td>{{ item.product?.productCode }}</td>
            <td>{{ item.product?.name }}</td>
            <td>{{ item.shop?.shopName }}</td>
            <td *ngIf="!isSale">{{ item.buyPrice | number: '1.2-2' }}</td>
            <td>{{ item.retailPrice | number: '1.2-2' }}</td>
            <td>{{ item.minPrice | number: '1.2-2' }}</td>
            <td>{{ item.quantity }}</td>
             <td>{{ item.discount }}</td>
              <td>{{ item.tax }}</td>
              <td>{{ item.stockQty }}</td>
            <td>{{ item.storageRack }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
<div *ngIf="!isSelectedShop" class="alert alert-warning p-2 small mt-3">
  ⚠️ الرجاء اختيار المحل لعرض المنتجات المتاحة / Please select a shop to view available products.
</div>

  </nb-card-body>
  <nb-card-footer class="d-flex justify-content-between px-3 py-2 bg-light border-top">
    <button nbButton size="small" status="basic" appearance="outline" class="text-muted border-muted" (click)="submit()">
      ❌ Cancel
    </button>
    <button *ngIf="isSelectedShop" nbButton size="small" status="success" appearance="outline" class="text-muted border-muted" (click)="submit()">
      ✔️ Confirm
    </button>
  </nb-card-footer>
</nb-card>
