<nb-card>
  <nb-card-header class="custom-header d-flex align-items-center">
    <nb-icon icon="file-text-outline"></nb-icon>
    <span class="ms-2 fw-bold">Dashboard</span>
  </nb-card-header>

  <nb-card-body>
    <!-- Dropdowns: Client & Date Range (Side by Side on Large Screens) -->
    <div class="d-flex justify-content-center g-3 align-items-center">
      
     <!-- Date Range Selection -->
      <div class="col-md-4 col-sm-12">
        <label for="dateRangePicker" class="fw-bold">Select Date Range</label>
        <input nbInput placeholder="Select Date Range" class="form-control date-picker" [nbDatepicker]="rangepicker" [(ngModel)]="selectedDateRange">
        <nb-rangepicker #rangepicker></nb-rangepicker>
      </div>
    
    </div>

    <!-- Prepare Invoice Button -->
    <div class="text-center mt-5 mb-5" >
      <button  class="btn btn-success px-4 py-2 fw-bold " (click)="toggleDetails()" [disabled]="!selectedDateRange">
        <i class="fas fa-file-invoice"></i> Get Recent Data
      </button>
    </div>
    <div class="row">
      <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
        <ngx-status-card [title]="statusCard.title" [type]="statusCard.type">
          <i [ngClass]="statusCard.iconClass"></i>
        </ngx-status-card>
      </div>
    </div>


  </nb-card-body>
</nb-card>
